* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



:root {
    --white-color: #fff;
    --nav-color: #262626;
    --text-logo-color: #F4F4F4;
    --border-cads: #45BAF2;
    --green-blue-darker: #061E29;
    --cad-main-bk: #115575;
}

body{
    height: 100svh;
    color: var(--white-color);
    background: black;
    display: flex;justify-content: center;
    
}

#content{
    max-width: 1920px;
}

header{
    height: 6.0625rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-color);
    width: 100%;
    height: 6.0625rem;
    padding: 1rem;
}

button{
    cursor: pointer;
}

.navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-logo-color);
    text-decoration: none;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.image-header{
    height: 1.25rem;
    width: 1.25rem;
}

.cadastro-header{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li, .cadastro-header a {
    display: flex;
    align-items: center;
    background: transparent;
    color: var(--text-logo-color);
}

.entrar{
    display: flex;
    width: 4.9375rem;
    border-bottom: 1px solid var(--nav-color);
    padding: 0.15rem 0;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.entrar:hover{
    border-bottom: 1px solid var(--border-cads);
}

.b-cadastro{
    border-bottom: 1px solid var(--nav-color);
    width: 8.4rem;
    padding: 0.15rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    margin: 0 1rem 0 0;
}

.b-cadastro:hover{
    border-bottom: 1px solid var(--border-cads);
}

.cadastro-header a{
    text-decoration: none;
}

.cadastro-header a img{
    margin-left: 0.75rem;
}

li , ul div li{
    display: flex;
    flex-direction: row;
    align-items: center;
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cad-main{
    background: var(--cad-main-bk);
    height: auto;
    color: var(--text-logo-color);
    text-align: justify;
    padding-left: 4rem;
    padding-bottom: 2rem;
    min-width: 1920px;
}

.cad-main h2{
    margin-top: 5.625rem;
}

.cad-main p{
    width: 55rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 200;
}

span{
    color: var(--border-cads);
}

.cad-main button{
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--border-cads);
    background: var(--green-blue-darker);
    transition: 0.3s;
}

.cad-main button:hover{
    background: var(--border-cads);
    color: var(--green-blue-darker);
}


.planetsec h2{
    margin: 10.75rem 0 7.15rem 4rem;
}


/*ESTUDOS*/

.planetsec ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;

}

.planetsec ul .first, .planetsec ul .second{
    gap: 5rem;
}

.planetsec li{
    height: 14.5rem;
    width: 24.625rem;
    align-items: initial;
    border-radius: 1rem;
    transition: 0.3s;
}

.planetsec li:hover{
    filter: drop-shadow(0 0 0.5rem var(--border-cads));
    padding-top: 1rem;
}

.planetsec .first, .second{
    display: flex;
    flex-direction: row;
}

.planetsec ul a{
    text-decoration: none;
    color: var(--text-logo-color);
}

.planetsec ul li div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 3rem;
}

.planetsec ul li p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
}

.planetsec ul li img{
    height: 3rem;
    width: 3rem;
}

/*PERGUNTAS*/

.perguntas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    height: 25rem;
    text-align: justify;
    gap: 10rem;
}

.perguntas button{
    background: transparent;
    border: none;
    color: var(--white-color);
    text-align: right;
    padding: 0.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    gap: 1rem;

    display: flex;
    align-items: center;
}

.perguntas button:hover{
    filter: drop-shadow(0 0 0.5rem var(--white-color));
}

.perguntas button img{
    transform: rotate(180deg);
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 10rem;

    background: var(--nav-color);
}

footer div{
    border: 1px solid var(--white-color);
    height: 5rem;
}

.logorodape{
    height: 4rem;
    width: 4rem;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
}