* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

@keyframes popUp {
    from{
        top: 0%;
    }
    to{
        top: 20%;
    }
}

:root {
    --white-color: #fff;
    --nav-color: #262626;
    --text-logo-color: #F4F4F4;
    --border-cads: #45BAF2;
    --green-blue-darker: #061E29;
    --cad-main-bk: #115575;
    --input-bk: #E7EEF1;
    --color-input: #061E29;
    --red: #ee5454;

    --background-foguete: url('../../images/foguete.webp');
}

body{
    color: var(--white-color);
    background: black;
    display: flex;
    justify-content: center;
    
    height: 100%;
}

#container{
    display: flex;
    width: 100%;
    align-items: stretch;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.clg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-logo-color);
    margin-top: 1rem;
    margin-bottom: 2.125rem;
}

.img{
    flex: 1 1 0%;
    background-image: var(--background-foguete);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #01050B, #202B54);
    border-left: 2px solid black;    
    max-width: 35rem;
    flex: 560px 1 0;
    overflow: auto;
    
}


.content{
    height: 100dvh;
    padding: 2rem;
    padding-bottom: 3rem ;
}

.aling-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

main h3{
    margin-bottom: 2.6125rem;
    font-size: 1.75rem;
    text-align: center;
}

main form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

main form input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--input-bk);
    color: black;
}

.errado{
    outline: 2px solid var(--red);
}

.certo{
    outline: 2px solid var(--border-cads);
}

main form input[placeholder]{
    color: var(--color-input);
}

main form label{
    font-weight: 100;
    margin-bottom: -0.75rem;
}

main form button{
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
    padding: 0.75rem;
    border: none;
    font-weight: 500;
    border-radius: 0.5rem;
    background: var(--cad-main-bk);
    color: var(--white-color);
    transition: 0.3s;
}

main form button:hover{
    background: var(--border-cads);
    color: var(--cad-main-bk);
}

p{
    text-align: justify;
    margin-bottom: 2.375rem;
}

button{
    cursor: pointer;
}

hr{
    width: 27.5rem;
    margin-bottom: 2.375rem;
}

a{
    text-decoration: none;
}

span{
    color: var(--border-cads);
}

.conta,
.conta1{
    padding: 1.375rem 0 1.375rem 0;
    border-radius: 0.5rem;
    background: var(--nav-color);
    color: var(--white-color);
    font-weight: 100;
    text-align: center;
    width: 100%;
    font-weight: 300;
    transition: 0.3s;
}

.conta:hover,
.conta1:hover{
    background: var(--white-color);
    color: var(--nav-color);

}

.entrar{
    display: block;
}

.entrar hr {
    margin: 2.375rem;
}

.entrar form input{
    margin-bottom: 2rem;
}

.entrar .conta1{
    margin-top: 1.5625rem;
}

.login{
    display: none;
}

.popUpVerification{
    display: none;
    position: absolute;
    z-index: 1000;

    animation-name:  popUp;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.popUpVerification .f-t{
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 12.375rem;
    background: var(--nav-color);

    justify-content: center;
    align-items: center;

    border-radius: 0.5rem 0.5rem 0 0;
}

.popUpVerification .f-t img{
    height: 4rem;
    width: 4rem;
}

.popUpVerification .f-t h2{
    font-size: medium;
    font-size: 30;
}

.popUpVerification .s-t{
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 13rem;

    background: var(--cad-main-bk);
    background: black;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.popUpVerification .s-t #inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.popUpVerification .s-t #inputs .input{
    border: 1px solid var(--nav-color);
    width: 2.5rem;
    height: 2.5rem;
    margin: -1px;

    text-align: center;
    font-size: 16;
}

.popUpVerification .s-t #inputs .input:focus{
    outline: 1px solid var(--border-cads);
}

.popUpVerification .s-t #inputs .fr{
    border-radius: 0.5rem 0 0 0.5rem;
}

.popUpVerification .s-t #inputs .ls{
    border-radius: 0 0.5rem 0.5rem 0;
}

.popUpVerification .s-t #inputs .trc{
    margin-right: 0.5rem;
}

.submit{
    padding: 0.75rem;
    border: none;
    font-weight: 500;
    border-radius: 0.5rem;
    background: var(--cad-main-bk);
    color: var(--white-color);
    transition: 0.3s;
    width: 80%;
}

.submit:hover{
    background: var(--border-cads);
    color: var(--cad-main-bk);
}