:root{
    --background-planet: url('../images/terra.webp');
    
    --background-estudo1: url('../images/bkest1.webp');
    --background-estudo2: url('../images/bkest2.webp');
    --background-estudo3: url('../images/bkest3.webp');
    --background-estudo4: url('../images/bkest4.webp');
    --background-estudo5: url('../images/bkest5.webp');
    --background-estudo6: url('../images/bkest6.webp');
}

/*BACKGROUNDS*/

.planetsec{
    height: auto;
    width: 100%;
    padding-bottom: 10rem;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-planet);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.estudobk{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,var(--background-estudo1);
    background-repeat: no-repeat;
    background-size: cover;
}
.estudobk2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-estudo2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.estudobk3{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-estudo3);
    background-repeat: no-repeat;
    background-size: cover;
}
.estudobk4{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-estudo4);
    background-repeat: no-repeat;
    background-size: cover;
}
.estudobk5{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-estudo5);
    background-repeat: no-repeat;
    background-size: cover;
}
.estudobk6{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--background-estudo6);
    background-repeat: no-repeat;
    background-size: cover;
}