* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--text-logo-color);
}

:root {
  --white-color: #fff;
  --nav-color: #262626;
  --text-logo-color: #f4f4f4;
  --mint-green: #cdf3f4;
  --border-cads: #45baf2;
  --cards: #115575;
  --color-bk: #141a23;
  --green-blue-darker: #06090D;
  --green-blue: #061e29;
  --light-blue: #649FED;
}

header{
  height: 6.0625rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-color);
  width: 100%;
  height: 6.0625rem;
  padding: 1rem;
}

button{
  cursor: pointer;
}

.navList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-logo-color);
  text-decoration: none;
}

.logo{
  height: 5rem;
  width: 5rem;
}

.image-header{
  height: 1.25rem;
  width: 1.25rem;
}

.cadastro-header{
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li, .cadastro-header a {
  display: flex;
  align-items: center;
  background: transparent;
  
  color: var(--text-logo-color);
}

.cadastro-header a{
  text-decoration: none;
  
  gap: 2rem;
}

.cadastro-header a img{
  height: 1.75rem;
  width: 1.75rem;
}

.cadastro-header img svg:hover{
  fill: var(--border-cads);
}
/*VIDEO*/

.videoAula {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--green-blue-darker);
  color: var(--mint-green);
}

.videoAula .videozao {
  width: 80%;
}

#videoExibicao {
  display: flex;
  height: 35.125rem;
  width: 100%;
}

.tituloVideo{
  padding: 0.5rem 0 0 0.5rem;
  position: absolute;
  padding: 1rem;
}

aside {
  width: 20%;
  height: 100svh;
  position: fixed;
  left: 80%;
  border-left: 2px solid var(--green-blue);

  overflow: auto;
}

span {
  color: var(--border-cads);
}

h2 {
  color: var(--text-logo-color);
}

.tema {
  border: 1px;
  color: var(--text-logo-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.tema:hover {
  background-color: var(--light-blue);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: var(--color-bk);
  overflow: hidden;
}

.video-list {
  list-style-type: none;
  padding: 0;
}

.video-list li {
  padding: 10px 0;
}

#aulasOutroTema {
  width: 100%;
}

.resumo {
  padding: 3rem 10rem;
  text-align: justify;
}

.resumo h2{
  margin-bottom: 3rem;
}

.aulas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  border-left: var(--nav-color);
}

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  height: 10rem;

  background: var(--green-blue-darker);
}

.footer div {
  border: 1px solid var(--white-color);
  height: 5rem;
}

.logorodape {
  height: 4rem;
  width: 4rem;
}

.footer a,
.footer p {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
}

/*Provisorio pode ou nÃ£o ser usado*/