* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--text-logo-color);
}

:root {
  --white-color: #fff;
  --nav-color: #262626;
  --text-logo-color: #f4f4f4;
  --mint-green: #cdf3f4;
  --border-cads: #45baf2;
  --cards: #115575;
  --color-bk: #141a23;
  --green-blue-darker: #061e29;
  --cad-main-bk: #115575;
  --podio-background: #06090d;
}

body {
  height: 100svh;
}

header {
  height: 6.0625rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-color);
  width: 100%;
  height: 6.0625rem;
  padding: 1rem;
}

button {
  cursor: pointer;
}

.navList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-logo-color);
  text-decoration: none;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.image-header {
  height: 1.25rem;
  width: 1.25rem;
}

.cadastro-header {
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li,
.cadastro-header a {
  display: flex;
  align-items: center;
  background: transparent;

  color: var(--text-logo-color);
}

.cadastro-header a {
  text-decoration: none;

  gap: 2rem;
}

.cadastro-header a img {
  height: 1.75rem;
  width: 1.75rem;
}

.cadastro-header img svg:hover {
  fill: var(--border-cads);
}

span {
  color: var(--border-cads);
}

li,
ul div li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*HOME*/

.home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-90deg, #16204a, #172763, #181834);
  padding: 1rem;
}

.home h1,
.home h2 {
  margin-top: 1rem;
}

.aling-estudo {
  display: flex;
  align-self: center;
  gap: 16.375rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.estudos-ref {
  height: 25rem;
  width: 22.6rem;

  background: var(--cards);

  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.estudos-ref img {
  height: 11rem;
  width: 11rem;

  margin-top: 1rem;
}

.colorbk {
  background: var(--color-bk);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;

  border-radius: 0 0 1rem 1rem;
}

/*PÓDIO*/

.podio {
  background: var(--podio-background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.375rem;

  height: 36rem;
}

.podio .pod-mundial,
.podio .pod-atual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background: var(--color-bk);
}

.podio table {
  display: block;
  border-collapse: collapse;
  letter-spacing: 2px;
  height: 20rem;
  max-height: 20rem;
  text-align: left;
  overflow-y: auto;
}

.podio caption {
  font-weight: bold;
  padding-bottom: 1rem;
}

.podio table thead th {
  border-collapse: collapse;
  width: 100%;
  padding-right: 1rem;
}

.podio table thead th:first-child {
  width: 6rem;
}

.podio table tbody td {
  height: 2rem;
}

.podio table thead th:last-child {
  width: 8rem;
}

.podio table td:first-child {
  text-align: center;
}

.podio table td:last-child {
  text-align: right;
}

.podio table tbody > tr:nth-of-type(even) {
  background-color: var(--green-blue-darker);
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  height: 10rem;

  background: var(--nav-color);
}

footer div {
  border: 1px solid var(--white-color);
  height: 5rem;
}

.logorodape {
  height: 4rem;
  width: 4rem;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
}
