* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--text-logo-color);
}


:root {
    --white-color: #fff;
    --nav-color: #262626;
    --text-logo-color: #F4F4F4;
    --mint-green: #cdf3f4;
    --border-cads: #45BAF2;
    --cards: #115575;
    --color-bk: #141A23;
    --green-blue-darker: #061E29;
    --cad-main-bk: #115575;
}

header{
    height: 6.0625rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-color);
    width: 100%;
    height: 6.0625rem;
    padding: 1rem;
}

button{
    cursor: pointer;
}

.navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-logo-color);
    text-decoration: none;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.image-header{
    height: 1.25rem;
    width: 1.25rem;
}

.cadastro-header{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li, .cadastro-header a {
    display: flex;
    align-items: center;
    background: transparent;
    
    color: var(--text-logo-color);
}

.entrar{
    display: flex;
    width: 4.9375rem;
    border-bottom: 1px solid var(--nav-color);
    padding: 0.15rem 0;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.entrar:hover{
    border-bottom: 1px solid var(--border-cads);
}

.b-cadastro{
    border-bottom: 1px solid var(--nav-color);
    width: 8.4rem;
    padding: 0.15rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    margin: 0 1rem 0 0;
}

.b-cadastro:hover{
    border-bottom: 1px solid var(--border-cads);
}

.cadastro-header a{
    text-decoration: none;
}

.cadastro-header a img{
    margin-left: 0.75rem;
}

li , ul div li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home{
    height: 37.5rem;
    background: linear-gradient(-90deg, #16204A, #172763, #181834);
}

.estudos-ref{
    height: 27rem;
    width: 22.6rem;

    background: var(--cards);
    
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: space-between;

}

.estudos-ref img{
    height: 11rem;
    width: 11rem;

    margin-top: 1rem;
}

.colorbk{
    background: var(--color-bk);
}