* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--text-logo-color);
}


:root {
    --white-color: #fff;
    --nav-color: #262626;
    --text-logo-color: #F4F4F4;
    --mint-green: #cdf3f4;
    --border-cads: #45BAF2;
    --cards: #115575;
    --color-bk: #141A23;
    --green-blue-darker: #061E29;
}

header {
    height: 6.0625rem;
    background: var(--nav-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.0625rem;
    padding: 1rem;
  
    max-width: 1920px;
  }

button{
    cursor: pointer;
}

.navList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-logo-color);
    text-decoration: none;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.image-header{
    height: 1.25rem;
    width: 1.25rem;
}

.cadastro-header{
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li, .cadastro-header a {
    display: flex;
    align-items: center;
    background: transparent;
    
    color: var(--text-logo-color);
}

.cadastro-header a{
    text-decoration: none;
    
    gap: 2rem;
}

.cadastro-header a img{
    height: 1.75rem;
    width: 1.75rem;
}

.cadastro-header img svg:hover{
    fill: var(--border-cads);
}

main{
    background: linear-gradient(#115575, #092C3D);
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 10rem 0 10rem;
    text-align: justify;
}

.aling-titulo{
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: var(--white-color);
    margin-bottom: 2rem;
}

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.cards-one div div,
.cards-two div div{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}

.cards-one,
.cards-two{
    display: flex;
    flex-direction: row;
    gap: 20rem;
    margin-bottom: 5rem;
}

.cards-one div,
.cards-two div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-one h4,
.cards-two h4{
    margin-top: 1rem;
    
    color: var(--white-color);
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 10rem;

    background: var(--nav-color);
}

footer div{
    border: 1px solid var(--white-color);
    height: 5rem;
}

.logorodape{
    height: 4rem;
    width: 4rem;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
}

.bruno {
    background-image: url(../../images/BRUNO.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.bruno:hover {
    background-image: url(../../images/BRUNO2.png);
    transition: 0.5s;
}

.ujhafsuy {
    background-image: url(../../images/UJHAFSUY.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.ujhafsuy:hover {
    background-image: url(../../images/EDUARDO2.png);
    transition: 0.5s;
}

.bispo {
    background-image: url(../../images/BISPO.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.bispo:hover {
    background-image: url(../../images/BISPO2.png);
    transition: 0.5s;
}

.reis {
    background-image: url(../../images/pedrin.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.reis:hover {
    background-image: url(../../images/pedrin2.png);
    transition: 0.5s;
}

.dedomedio {
    background-image: url(../../images/samuel1.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.dedomedio:hover {
    background-image: url(../../images/samuel2.png);
    transition: 0.5s;
}

.davide {
    background-image: url(../../images/david1.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.davide:hover {
    background-image: url(../../images/DAVID22.png);
    transition: 0.5s;
}